body {
    padding-top: 60px;
    padding-bottom: 90px;
}

.navbar-header {
    width: 100%;
}
#newGameDiv {
    float: right !important;
    margin-top: 8px;
    margin-right: -22px;
}

.row-buffered {
    margin-bottom: 15px;
}

#score-table {
    margin: auto;
}

#score-table tbody {
    padding-top: 1em;
    display: block;
}

#score-table tr {
    display: block;
    width: 100%;
    clear: both;
}

#score-table thead th {
    transform: rotate(-45deg);
    border: none;
}

#score-table th, #score-table td {
    display: block;
    float: left;
    text-align: center;
}

.round-indicator {
    visibility: hidden;
}

.round-indicator.current-round {
    visibility: visible;
}

.bidFormName {
    min-width: 0.5em !important;
    width: 0.5em !important;
}

div.game-btn {
    position: fixed;
    bottom: 60px;
}

footer {
    clear: both;
    padding-top: 15px;
}

footer .navbar-header {
    text-align: center !important;
}

footer a.navbar-brand {
    float: none;
    display: inline-block;
}
